<section class="section scrollspy" id="contact" style="padding: 0px;">
  <footer class="page-footer z-depth-2">
    <div class="container-fluid">
      <div class="row component">
        <br>
        <h3 class="center-align">contato</h3>
        <p style="font-size: 15px; margin: auto 0 0;" class="center-align">
          endereço: Rua Hermenegildo de Barros, apt 27
        </p>
        <p style="font-size: 15px; margin: auto 0 0;" class="center-align">
          Santa Teresa - RJ
        </p>
        <p style="font-size: 15px; margin: auto 0 0;" class="center-align">
          telefone: (21) 99965-7295
        </p>
        <div class="col l6 s12 center center-align">
          <br><br>
          <img src="/assets/consultorio-2.jpeg" style="width: 81%; border-radius: 30px; border: solid 6px #F5F5F5;">
        </div>
        <div class="col l6 s12">
          <br><br>
          <form class="contact" action="contacts" method="post" id="contactForm"style="background-color: #848D8C; padding: 30px; border-radius: 30px; border: solid 6px #F5F5F5;">
            <div class="row">
              <div class="input-field col l6 s6 m6 xl6">
                <!-- <label for="first_name">Nome</label> -->
                <input name="first_name" id="first_name" placeholder="Nome" type="text" class="validate">
              </div>
              <div class="input-field col l6 s6 m6 xl6">
                <!-- <label for="last_name">Sobrenome</label> -->
                <input name="last_name" id="last_name" placeholder="Sobrenome" type="text" class="validate">
              </div>
              <div class="input-field col l12 s12 m12 l12">
                <!-- <label for="email">E-mail</label> -->
                <input name="email" id="email" placeholder="E-mail" type="text" class="validate">
              </div>
              <div class="input-field col l12 s12 m12 l12">
                <!-- <label for="email">E-mail</label> -->
                <input name="phone" id="phone" placeholder="telefone" type="text" class="validate">
              </div>
              <div class="input-field col l12 s12 m12 l12">
                <!-- <label for="title">Título do e-mail</label> -->
                <input name="subject" id="subject" placeholder="Título do e-mail" type="text" class="validate">
              </div>
              <div class="input-field col l12 s12 m12 l12">
                <!-- <label for="content">Mensagem</label> -->
                <textarea name="body" id="body" placeholder="Mensagem" class="materialize-textarea validate"></textarea>
              </div>
              <div class="col l12 s12 m12 l12">
                <button class="btn btn-large" type="submit" name="action">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p class="center-align">© 2020 Copyright Text<p>
      </div>
    </div>
  </footer>
</section>
