<div class="navbar-fixed">
  <nav>
    <div class="container-fluid nav-wrapper">
      <img class="brand-logo" src="assets/psicologia.png" style="margin-top: 10px;">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#home">início</a></li>
        <li><a href="#apresentation">apresentação</a></li>
        <li><a href="#psicanalise">psicanálise</a></li>
        <li><a href="#frequent-complaints">queixas frequentes</a></li>
        <li><a href="#contact">contato</a></li>
        <li style="margin: 0 15px 0 15px; font-size: 25px; color: #464943">|</li>
        <li><a>blog</a></li>
      </ul>
    </div>
  </nav>
</div>
