<section class="section scrollspy" id="apresentation">
  <div class="container-fluid apresentation component">
    <br>
    <div class="center title-wrapper">
      <h3>apresentação</h3>
    </div>
    <div class="row">
      <div class="col l6">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur velit tortor, aliquam commodo consequat nec, iaculis et lectus. In vestibulum sodales augue, nec elementum diam malesuada sit amet. Praesent vel consectetur magna, quis efficitur enim. commodo tempor ante nunc id odio.
        </p>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur velit tortor, aliquam commodo consequat nec, iaculis et lectus. In vestibulum sodales augue, nec elementum diam malesuada sit amet. Praesent vel consectetur magna, quis efficitur enim. commodo tempor ante nunc id odio.
        </p>
        <div>
          <label class="text-justify">Graduação em Psicologia</label><br>
          <label class="text-justify">Pós-Graduação em Psicanálise com crianças: Intervenção Precoce</label><br>
          <label class="text-justify">Pós-Graduação em Psicanálise: Sujeito e Cultura</label><br>
          <label class="text-justify">Psicanalista associado à Escola de Psicanálise Corpo Freudiano - RJ</label><br>
        </div>
      </div>
      <div class="col l6 center">
        <img class="responsive-img circle" src="assets/magot.jpg" style="width: 70%; height: 300px;">
      </div>
    </div>
  </div>
</section>
