<section class="section scrollspy" id="frequent-complaints">
  <div class="container-fluid problems component">
    <div class="center title-wrapper">
      <h3>queixas frequentes</h3>
      <h5>Estes são alguns dos casos em que um psicólogo pode te ajudar</h5>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col l4 s4 center">
        <img src="/assets/coracao.png" style="width: 50px;">
        <p>Relocionamento</p>
      </div>
      <div class="col l4 s4 center">
        <img src="/assets/familia.png" style="width: 50px;">
        <p>Família</p>
      </div>
      <div class="col l4 s4 center">
        <img src="/assets/sindrome.png" style="width: 50px;">
        <p>Síndromes</p>
      </div>
      <div class="col l3 s3 center">
        <img src="/assets/travesseiro.png" style="width: 50px;">
        <p>Insônia</p>
      </div>
      <div class="col l3 s3 center">
        <img src="/assets/chuva.png" style="width: 50px;">
        <p>Traumas</p>
      </div>
      <div class="col l3 s3 center">
        <img src="/assets/cerebro.png" style="width: 50px;">
        <p>Ansiedade</p>
      </div>
      <div class="col l3 s3 center">
        <img src="/assets/diva.png" style="width: 50px;">
        <p>Depressão</p>
      </div>
    </div>
  </div>
</section>
