<section class="section scrollspy" id="psicanalise">
  <div class="container-fluid psicanalise component">
    <div class="center title-wrapper">
      <h3>psicanálise</h3>
      <h5>
        A psicanálise é uma forma de tratamento que acontece pela fala e tem como
        ponto de visada as motivações inconscientes de quem está falando.
      </h5>
    </div>
    <br>
    <br>
    <div class="body-wrapper">
      <div class="row">
        <div class="col l6">
          <p style="font-weight: bold;">
            O que o psicanalista faz é escutar o que está inconsciente naquilo
            que você diz.
          </p>
          <p>
            Ele conta com um tipo de saber que você tem acerca de si, mas sem
            saber que sabe. É um saber inconsciente sobre o que lhe acontece,
            inclusive em relação aos sintomas que tem e ao mal-estar que sente.
          </p>
          <p>
            A partir disso, ele indaga sobre algo que lhe chamou a atenção,
            pontua o que demonstra ser importante, levanta questões que se
            mostram relevantes, acompanha o que você está vivendo, recolhe,
            aponta e interpreta o que está revelando.
          </p>
          <p>
            Destas e de outras formas, o psicanalista ajuda você a escutar o que
            está dizendo, mas não está percebendo
          </p>
          <p>
            Tudo isso vai tornando possível encontrar suas novas próprias
            maneiras de se relacionar com o que considera importante em sua vida,
            melhor enfrentar os desafios e dificuldades que surgirem e,
            principalmente, de se posicionar em relação ao que deseja para si.
          </p>
        </div>
        <div class="col l6">
          <p>
            E do que é que se trata em uma sessão de análise?
          </p>
          <p>
            Trata-se não do que está sendo dito sobre o mal-estar especificamente,
            mas de quem está falando a respeito dele.
          </p>
          <p>
            Em outras palavras, não se trata por exemplo o sintoma da ansiedade
            ou o sintoma da depressão, ou o sofrimento em si, mas sim a pessoa
            que está sofrendo a partir do que ela diz sobre a maneira como ela
            está vivendo o que acontece.
          </p>
          <p>
            E é por isso que a análise é um tratamento singularizado e tem um
            elevado potencial de transformação pessoal
          </p>
          <p>
            Em vez de te dar uma “fórmula mágica” sobre o que acontece com você,
            o que seria tentar encaixar algo de fora para aquilo que acontece aí
            dentro, busca-se a sua própria lógica inconsciente, ou seja, uma
            lógica subjetiva, única, singular.
          </p>
          <p>
            Em poucas palavras, em uma análise, trata-se de você!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
