<%= render partial: "header" %>
<%= render partial: "apresentation" %>
<div class="parallax-container">
  <div class="parallax"><img src="assets/paralax-7.jpeg"></div>
</div>
<%= render partial: "psicanalise" %>
<div class="parallax-container">
  <div class="parallax"><img src="assets/paralax-8.jpeg"></div>
</div>
<%= render partial: "frequent_complaints" %>
